<%- include ('../partials/header'); %>
<style>
  .politicas-list {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  .politicas-list li {
      display: list-item;
  }
</style>
<div class="container-margin">
  <section class="section breadcrumbs-custom">
    <div class="breadcrumbs-custom-main bg-image bg-primary">
      <div class="container">
        <h3 class="breadcrumbs-custom-title">Política de Privacidad</h3>
      </div>
    </div>
</section>
<section class="section section-md">
    <div class="container">
        <p>
            Freelance26 está firmemente comprometida con la privacidad de sus miembros. Freelance26 trabaja arduamente para ganarse y mantener su confianza, por lo que se adhiere a los siguientes principios para proteger su privacidad:
        </p>
        <ul class="politicas-list">
          <li>Freelance26 no alquila ni vende su información de identificación personal a terceros.</li>
          <li>Freelance26 no comparte su información de contacto con otros usuarios o terceros sin su consentimiento.</li>
        </ul>
        <h4>Recolección de información</h4>
        <p>
          Freelance26 es un mercado en línea, que conecta empresas con autónomos. Cuando visita Freelance26,  proporciona dos tipos de información: información personal que deliberadamente elige revelar que es recopilada por Freelance26, e información sobre el uso del sitio web recopilada por Freelance26 a medida que interactúa con el sitio web Freelance26 (el "Sitio web" ). <br><br>

          Cuando te registras en Freelance26 como autónomo o como empleador, proporcionas cierta información personal, incluidos tu nombre, tu dirección de correo electrónico y tu dirección. Además, cuando establezca su perfil como autónomo o como empleador, proporcionará información relacionada con sus habilidades, experiencia, nivel de educación, compensación, disponibilidad laboral, región geográfica y autoevaluación. Dicha información no identifica la especificidad del miembro individual. <br><br>

          Cuando ingresa al sitio web, Freelance26 recopila su dirección IP. Esta información se recopila para todos los visitantes de Freelance26. Además, Freelance26 almacena cierta información de su navegador mediante "cookies". Una cookie es un dato almacenado en la computadora del usuario vinculado a información sobre el usuario. Freelance26 utiliza cookies de identificación de sesión para confirmar que los usuarios están conectados. Estas cookies terminan una vez que el usuario cierra el navegador. De forma predeterminada, Freelance26 usa una cookie persistente que almacena su ID de inicio de sesión (pero no su contraseña) para facilitarle el inicio de sesión cuando regrese al sitio web Freelance26. Los miembros de Freelance26 deben tener las cookies habilitadas en su navegador. <br><br>

          Si publica información en un tablero de anuncios o participa en un tablero de mensajes público, debe tener en cuenta que cualquier información de identificación personal que elija proporcionar allí puede ser leída, recopilada o utilizada por otros usuarios de estos foros y podría usarse para enviarle mensajes no solicitados. Freelance26 no es responsable de la información de identificación personal que elija enviar en estos foros. <br><br>

          Freelance26 es el único propietario de la información recopilada a través del sitio web. <br><br>
        </p>
        <h6>Uso de la información</h6>
        <p>
          Freelance26 no venderá ni alquilará la información recopilada a terceros. Freelance26 no compartirá su información de contacto con otros usuarios o terceros, excepto en relación con un posible empleo y con su consentimiento expreso. Todos los miembros registrados de Freelance26 hacen clic en la casilla de verificación "ACEPTO" en el formulario de registro para aceptar la Política de privacidad y los Términos de servicio de Freelance26. En consecuencia, todos los usuarios registrados aceptan que cierta información de perfil es accesible para otros usuarios registrados. <br><br>

          Freelance26 registra las direcciones IP para fines de administración del sistema. Esta información se utiliza para diagnosticar problemas del servidor, monitorear patrones de tráfico, analizar tendencias, administrar el sitio web, rastrear patrones de usuario de miembros e identificar las áreas más populares del sitio web para entregar el contenido más relevante a los miembros registrados. Las direcciones IP no están vinculadas a información de identificación personal y solo se usan para recopilar información demográfica amplia para uso agregado, excepto en el caso de fraude. <br><br>

          Freelance26 se reserva el derecho de compartir información demográfica agregada con sus socios y / o anunciantes, dicha información no estará vinculada a información personal que identifique a los usuarios registrados, excepto en el caso de fraude. <br><br>
        </p>
        <h6>Google Analytics y AdWords</h6>
        <p>
          Google Analytics: utilizamos el seguimiento de Google Analytics para revisar las actividades del sitio web de los visitantes, que incluyen: visitas a la página, fuente y tiempo dedicado a nuestro sitio web. La información recopilada se despersonaliza y se muestra como números, lo que significa que no se puede rastrear a las personas. Esto ayudará a proteger su privacidad. Con Google Analytics, aprendemos cómo brindarle una mejor experiencia al visitante. <br><br>

          Google AdWords: con los códigos de seguimiento de Google AdWords, podemos ver qué páginas ayudan a generar diferentes conversiones en Freelance26. Esto nos permite utilizar mejor nuestro presupuesto de publicidad pagada. <br><br>

          Remarketing con Google Analytics: utilizamos el código de remarketing de Google Analytics para registrar cuando los visitantes ven páginas web específicas. Esto nos permite ofrecer publicidad dirigida en el futuro.
        </p>
        <ul class="politicas-list">
          <li>Los proveedores de terceros, incluido Google, pueden mostrar anuncios de Freelance26 en Internet.</li>
        </ul>
        <h6>Optar por no participar:</h6>
        <p>
          Los visitantes pueden optar por no participar en Google Analytics para publicidad gráfica y personalizar los anuncios de la Red de Display de Google mediante la <a href="https://adssettings.google.com/authenticated" target="_blank" rel="noopener noreferrer">configuración de anuncios</a>. Además, los visitantes pueden optar por no participar en el <a href="https://tools.google.com/dlpage/gaoptout" target="_blank" rel="noopener noreferrer">complemento del navegador de Google Analytics</a>. <br><br>
        </p>
        <h6>Enlaces</h6>
        <p>
          El sitio web contiene enlaces a otros sitios web y no es responsable de las prácticas de privacidad de dichos sitios web. Freelance26 anima a sus miembros a leer las políticas de privacidad de todos los sitios web. Esta declaración de privacidad se aplica únicamente a la información recopilada por Freelance26. <br><br>
        </p>
        <h6>Seguridad</h6>
        <p>
          Freelance26 utiliza protocolos y tecnología estándar de la industria para proteger la información de los usuarios registrados. <br><br>
          
          Freelance26 también protege la información del usuario registrado fuera de línea. Toda la información del usuario registrado está restringida dentro de nuestras oficinas. Los servidores que se utilizan para almacenar información de identificación personal están alojados en un entorno seguro y supervisado. Además, solo los empleados de Freelance26 que necesitan información específica para realizar una tarea tienen acceso a información de identificación personal. <br><br>
        </p>
        <h6>Comunicaciones obligatorias</h6>
        <p>
          Freelance26 envía a todos los usuarios recién registrados un correo electrónico de bienvenida para verificar sus direcciones de correo electrónico. A veces, Freelance26 envía anuncios de servicio a sus empleadores y autónomos registrados. Los usuarios registrados no pueden darse de baja de los anuncios de servicio que analizan los próximos cambios que afectan sus cuentas de Freelance26. Además, nos comunicamos con los miembros registrados a través de correos electrónicos personales o llamadas telefónicas para proporcionar los servicios solicitados. <br><br>
        </p>
        <h6>Comunicaciones opcionales</h6>
        <p>
          Los usuarios registrados reciben boletines electrónicos mensuales que contienen información sobre los productos, servicios y anuncios de Freelance26. De vez en cuando, los usuarios registrados reciben postales electrónicas que destacan anuncios y funciones especiales de Freelance26. <br><br>
        </p>
        <h6>Elección / Exclusión</h6>
        <p>
          Al registrarse, los usuarios pueden optar por no recibir las comunicaciones de opciones de Freelance26. Además, los usuarios registrados pueden, en cualquier momento, modificar sus preferencias de correo electrónico (anuncio de servicio) de Freelance26 actualizando la información de su cuenta. <br><br>
        </p>
        <h6>Notificación de cambios</h6>
        <p>
          Freelance26 se reserva el derecho de modificar esta política de privacidad en cualquier momento, así que revísala con frecuencia. Si continúa utilizando Freelance26 después de que se hayan realizado cambios en esta política, usted acepta los cambios. <br><br>
        </p>
        <h4>Descargos de responsabilidad</h4>
        <p>
          Descargo de responsabilidad de inicio de sesión social <br><br>

          Los inicios de sesión sociales permiten el registro único utilizando información existente de los sitios de redes sociales. Freelance26 está aprobado por Facebook, Google  y LinkedIn para el inicio de sesión social al hacer que nuestra Política de privacidad esté disponible públicamente y sea de fácil acceso. <br><br>

          Al iniciar sesión a través de Facebook, Google+, LinkedIn o cualquier otro inicio de sesión social que podamos aceptar en el futuro, usted acepta nuestra Política de privacidad y Términos de servicio, así como la Política de privacidad y los Términos de servicio de Facebook, Google+, LinkedIn y etc. Por favor, revise los Términos de servicio y la Política de privacidad del inicio de sesión social que pueda estar utilizando para determinar la recopilación y el uso de datos según los servicios de inicio de sesión social mencionados anteriormente que pueda estar utilizando. <br><br>

          Divulgación de todas las transacciones financieras en los perfiles de usuario Descargo de responsabilidad <br><br>

          Freelance26 divulga todas las transacciones financieras en los perfiles tanto de los empleadores como de los autónomos para el beneficio de todos los usuarios. La divulgación de las transacciones financieras es para el beneficio de todos los usuarios al tomar decisiones inteligentes e informadas con respecto a aceptar trabajos de empleadores y contratar autónomos.
        </p>
    </div>
</section>
</div>
<%- include('../partials/footer') %>