<%- include ('../partials/header'); %>
<style>
    .politicas-list {
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
    }
  
    .politicas-list li {
        display: list-item;
    }
  </style>
  <section class="section breadcrumbs-custom">
      <div class="breadcrumbs-custom-main bg-image bg-primary">
        <div class="container">
          <h3 class="breadcrumbs-custom-title">Términos y condiciones generales de uso de la plataforma</h3>
        </div>
      </div>
  </section>
  <section class="section section-md">
    <div class="container">
			<h4>Información Contractual:</h4>
			<p>
				El acceso y uso del website www.Freelance26.com –en adelante WEBSITE– es ofrecido por la compañía de nacionalidad panameña: ALESMAR INTERNACIONAL, S.A. –en adelante Freelance26.com. <br><br>

				Para cualquier cuestión o duda que esté relacionada con el acceso y uso del WEBSITE o de las presentes Condiciones Generales de Acceso y Uso (en adelante, CGAU) puede dirigir un correo electrónico con su solicitud y datos de contacto a la siguiente dirección: info@freelance26.com.
				Sin perjuicio de ello, FREELANCE26.COM podrá transmitir notificaciones a través de la página de inicio de la página web, a fin de informar al usuario acerca de los cambios introducidos en el WEBSITE. Dichas notificaciones serán consideradas como válidas y, por ende, como notificaciones al usuario. <br><br>
				 
				LEA ESTOS TÉRMINOS ATENTAMENTE ANTES DE ACCEDER A LOS SERVICIOS O UTILIZARLOS. <br><br>
				 
				Su acceso y el uso que haga del sitio de Freelance26.com constituyen su aceptación de quedar obligado por estos Términos, que establecen una relación contractual entre usted y Freelance26.com. Si no acepta estos Términos, no podrá acceder al Sitio de Freelance26.com ni utilizarlo. Estos Términos reemplazan expresamente contratos o acuerdos anteriores celebrados con usted. Freelance26.com podrá cancelar inmediatamente estos Términos con respecto a usted, o en general dejar de ofrecer o negar acceso al Sitio de Freelance26 o a cualquiera de sus partes, en cualquier momento y por cualquier motivo. <br><br>
				 
				Freelance26.com podrá modificar los Términos relacionados con el Sitio de Freelance26.com oportunamente. Las modificaciones tendrán validez al momento de la publicación por parte de Freelance26.com, de los Términos actualizados en esta ubicación o de las políticas modificadas o los términos complementarios del  servicio correspondiente. Su acceso o uso continuo del Sitio de Freelance26.com luego de esta publicación constituye su consentimiento para estar obligado por los Términos y sus modificaciones:
			</p>
			<ul class="politicas-item">
				<li>Su aceptación de que el Sitio de Freelance26.com se ofrece “en el estado en que se encuentra” y sin ninguna garantía.</li>
				<li>Su aceptación de que el Sitio de Freelance26.com, es únicamente una plataforma de comunicaciones que ofrece un método para la contratación de Servicios Freelance, que todos los Servicios Freelance son realizados por terceros y que Freelance26.com no tiene responsabilidad alguna por los Servicios Freelance o por los actos u omisiones de terceros.</li>
				<li>Su aceptación de liberar a Freelance26.com de toda responsabilidad que surja de reclamaciones relacionadas con el Sitio web de Freelance26.com o de otro modo.</li>
				<li>Su aceptación de mantener indemne a Freelance26.com de reclamaciones que surjan de su uso, uso indebido o incapacidad para utilizar el Sitio de Freelance26.com o los Servicios Freelance, su incumplimiento de este Acuerdo, leyes aplicables o derechos de terceros, y/o el contenido o la información enviada desde su cuenta al Sitio de Freelance26.com.</li>
				<li>Su consentimiento de que cualquiera de las partes tiene derecho a recurrir a arbitraje vinculante.</li>
				<li>Su aceptación de que ninguna reclamación podrá juzgarse como demanda colectiva.</li>
				<li>Su consentimiento con respecto a la recolección, utilización, divulgación y transferencia de sus datos conforme se indica en la Política de Privacidad.</li>
			</ul>
			<h4>LA APLICACIÓN ES UN MERCADO INFORMÁTICO</h4>
		</div>
	</section>
<%- include('../partials/footer') %>