<%- include ('../partials/header'); %>
<style>
    .politicas-list {
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
    }
  
    .politicas-list li {
        display: list-item;
    }
  </style>
  <div class="container-margin">
	<section class="section breadcrumbs-custom">
		<div class="breadcrumbs-custom-main bg-image bg-primary">
		  <div class="container">
			<h3 class="breadcrumbs-custom-title">Términos y condiciones generales de uso de la plataforma</h3>
		  </div>
		</div>
	</section>
	<section class="section section-md">
	  <div class="container">
			  <h4>Información Contractual:</h4>
			  <p>
				  El acceso y uso del website www.Freelance26.com –en adelante WEBSITE– es ofrecido por la compañía de nacionalidad panameña: ALESMAR INTERNACIONAL, S.A. –en adelante Freelance26.com. <br><br>
  
				  Para cualquier cuestión o duda que esté relacionada con el acceso y uso del WEBSITE o de las presentes Condiciones Generales de Acceso y Uso (en adelante, CGAU) puede dirigir un correo electrónico con su solicitud y datos de contacto a la siguiente dirección: info@freelance26.com.
				  Sin perjuicio de ello, FREELANCE26.COM podrá transmitir notificaciones a través de la página de inicio de la página web, a fin de informar al usuario acerca de los cambios introducidos en el WEBSITE. Dichas notificaciones serán consideradas como válidas y, por ende, como notificaciones al usuario. <br><br>
				   
				  LEA ESTOS TÉRMINOS ATENTAMENTE ANTES DE ACCEDER A LOS SERVICIOS O UTILIZARLOS. <br><br>
				   
				  Su acceso y el uso que haga del sitio de Freelance26.com constituyen su aceptación de quedar obligado por estos Términos, que establecen una relación contractual entre usted y Freelance26.com. Si no acepta estos Términos, no podrá acceder al Sitio de Freelance26.com ni utilizarlo. Estos Términos reemplazan expresamente contratos o acuerdos anteriores celebrados con usted. Freelance26.com podrá cancelar inmediatamente estos Términos con respecto a usted, o en general dejar de ofrecer o negar acceso al Sitio de Freelance26 o a cualquiera de sus partes, en cualquier momento y por cualquier motivo. <br><br>
				   
				  Freelance26.com podrá modificar los Términos relacionados con el Sitio de Freelance26.com oportunamente. Las modificaciones tendrán validez al momento de la publicación por parte de Freelance26.com, de los Términos actualizados en esta ubicación o de las políticas modificadas o los términos complementarios del  servicio correspondiente. Su acceso o uso continuo del Sitio de Freelance26.com luego de esta publicación constituye su consentimiento para estar obligado por los Términos y sus modificaciones:
			  </p>
			  <ul class="politicas-item">
				  <li>•	Su aceptación de que el Sitio de Freelance26.com se ofrece “en el estado en que se encuentra” y sin ninguna garantía.</li>
				  <li>•	Su aceptación de que el Sitio de Freelance26.com, es únicamente una plataforma de comunicaciones que ofrece un método para la contratación de Servicios Freelance, que todos los Servicios Freelance son realizados por terceros y que Freelance26.com no tiene responsabilidad alguna por los Servicios Freelance o por los actos u omisiones de terceros.</li>
				  <li>•	Su aceptación de liberar a Freelance26.com de toda responsabilidad que surja de reclamaciones relacionadas con el Sitio web de Freelance26.com o de otro modo.</li>
				  <li>•	Su aceptación de mantener indemne a Freelance26.com de reclamaciones que surjan de su uso, uso indebido o incapacidad para utilizar el Sitio de Freelance26.com o los Servicios Freelance, su incumplimiento de este Acuerdo, leyes aplicables o derechos de terceros, y/o el contenido o la información enviada desde su cuenta al Sitio de Freelance26.com.</li>
				  <li>•	Su consentimiento de que cualquiera de las partes tiene derecho a recurrir a arbitraje vinculante.</li>
				  <li>•	Su aceptación de que ninguna reclamación podrá juzgarse como demanda colectiva.</li>
				  <li>•	Su consentimiento con respecto a la recolección, utilización, divulgación y transferencia de sus datos conforme se indica en la Política de Privacidad.</li>
			  </ul>
			  <br><br>
			  <h4>LA APLICACIÓN ES UN MERCADO INFORMÁTICO</h4>
			  <p>
				  El Sitio de Freelance26.com es un mercado informático donde Usuarios y Freelancers pueden identificarse y comprar y vender servicios en línea. Estos servicios específicos solicitados por Usuarios, que deben realizar los Freelancers, se denominan, en adelante, “Servicios Freelance”.<br><br>
				  De conformidad con los términos de este Acuerdo, Frelance26.com ofrece servicios a Usuarios y Freelancers, incluido el hosting y el mantenimiento del Sitio de Freelance26.com, y permite la celebración de Contratos entre Usuarios. Cuando un Usuario y un Freelancer celebran un Contrato entre Usuarios de conformidad con la subsección b, a continuación, el Usuario y el Freelancer utilizan el Sitio de Freelance26.com para comprometerse, comunicarse, facturar y pagar en línea.<br><br>
				  A menos que Freelance26.com indique lo contrario en un acuerdo escrito por separado con usted, el Sitio de Freelance26.com se pone a disposición únicamente para su uso personal y no comercial. Freelance26.com no presta Servicios Freelance por sí misma. La prestación de todos los Servicios Freelance depende de los Freelancers. <br><br>
				  FREELANCE26.COM, A TRAVÉS DE LA APLICACIÓN DE FREELANCE26.COM, OFRECE INFORMACIÓN Y UN MÉTODO PARA OBTENER ESTOS SERVICIOS FREELANCE, PERO NO BRINDA NI PRETENDE BRINDAR DICHOS SERVICIOS FREELANCE, Y NO TIENE RESPONSABILIDAD ALGUNA POR LOS SERVICIOS FREELANCE Y/O EL PRODUCTO DE TRABAJO QUE LE ENTREGUEN LOS FREELANCERS, INCLUIDAS, A TÍTULO ENUNCIATIVO Y NO TAXATIVO, LAS GARANTÍAS DE IDONEIDAD PARA UN FIN DETERMINADO O CUMPLIMIENTO DE LEYES, REGLAMENTACIONES O CÓDIGOS. FREELANCE26.COM NO ESTÁ AFILIADA, RESPALDADA NI PATROCINADA POR NINGÚN PROVEEDOR EXTERNO.
				  <br><br>
			  </p>
			  <h4>SERVICIOS ENTRE USUARIOS</h4>
			  <p>
				  Al momento de adjudicación de un proyecto por parte del Usuario a un Freelancer y la aceptación del Freelancer en el Sitio de Freelance26.com, o la compra de un artículo del Freelancer por parte de un Usuario, se considerará que el Usuario y el Freelancer han celebrado un contrato (el “Contrato entre Usuarios”), en virtud del cual el Usuario acepta comprar y el Freelancer acepta entregar los Servicios Freelance. El Usuario y el Freelancer pueden celebrar un acuerdo entre ellos aparte de estos Términos, siempre que usted acepte no celebrar ninguna disposición contractual contradictoria con estos Términos.<br><br>
  Usted es el exclusivo responsable de asegurarse de cumplir con sus obligaciones frente a los Freelancers. Si no lo hace, es posible que sea responsable ante el Freelancer en cuestión. Debe asegurarse de conocer todas las leyes nacionales (incluidas las del derecho anglosajón), leyes internacionales, normas, ordenanzas y reglamentaciones relativas a usted como Usuario o a cualquier otro uso que haga del Sitio de Freelance26.com.<br><br>
  Si un Freelancer no cumple con alguna obligación frente a usted, o causa daños a usted, a su propiedad o a sus derechos, usted es el único responsable de ejercer los derechos que pudiera tener. Para evitar cualquier duda, nosotros no tenemos ninguna responsabilidad de ejercer derechos en virtud de un Contrato entre Usuarios o ante daños a su persona, su propiedad o sus derechos causados por un Freelancer.<br><br>
  En función de su jurisdicción, los Usuarios y Freelancers pueden tener derechos en virtud de garantías legales que no pueden excluirse legalmente. Ninguno de estos Términos pretende invalidar los derechos que no puedan ser excluidos según la legislación aplicable.<br><br>
  Cada Usuario y Freelancer reconoce y acepta que la relación entre el Usuario y cualquier Freelancer corresponde a la de un contratista independiente. Ninguna de las disposiciones de estos Términos crea una asociación, empresa conjunta, agencia o relación de empleo entre Usuarios y Freelancers. Ninguna de las disposiciones de estos Términos deberá ser interpretada como si constituyera una empresa conjunta, una asociación o una relación empleador-empleado entre Freelance26.com y algún Usuario o Freelancer.
				  <br><br>
			  </p>
			  <h4>ENTREGAS DEL USUARIO</h4>
			  <p>
				  El Usuario otorga al Freelancer un derecho limitado, no exclusivo y revocable (en cualquier momento a la exclusiva discreción del Usuario) para utilizar las Entregas del Usuario según sea necesario para la prestación de los Servicios. El Usuario se reserva todo otro derecho e interés, incluidos, a título enunciativo y no taxativo, todos los derechos de propiedad intelectual, con respecto a las Entregas del Usuario. Al momento del cumplimiento o la extinción del Contrato de Servicios, o previa solicitud escrita por parte del Usuario, el Freelancer deberá devolver inmediatamente todas las Entregas del Usuario al Usuario y asimismo se compromete a eliminar todas las copias de las Entregas del Usuario y el Producto de Trabajo que se encuentren en las instalaciones, sistemas u otros equipos del Freelancer o de otra manera bajo dominio del Freelancer. 
			  </p><br><br>
			  <h4>PRODUCTO DE TRABAJO</h4>
			  <p>
				  Todo trabajo por encargo que pueda estar sujeto a derechos de autor realizado por el Freelancer en relación con un contrato a precio fijo para el Usuario será propiedad del Freelancer hasta que el Usuario haya realizado el pago y el Freelancer lo haya aceptado. Si el Usuario paga un monto inferior al monto acordado en el Contrato de Servicios, el Freelancer podrá reembolsar el monto pagado dentro de las dos (2) semanas de la fecha de pago y conservar su propiedad sobre el Producto de Trabajo.
   
  En el caso de que los derechos de propiedad intelectual no pudieran cederse en virtud de la legislación aplicable, el Freelancer, por medio del presente, acepta irrevocablemente otorgar y, por medio del presente, otorga al Usuario una licencia exclusiva (que también excluye al Freelancer), perpetua, irrevocable, ilimitada, mundial, totalmente pagada e incondicional para utilizar y comercializar el Producto de Trabajo de cualquier manera conocida actualmente o descubierta en el futuro. En el caso de que el otorgamiento de la licencia no fuera plenamente válido, eficaz o aplicable en virtud de la legislación aplicable, el Freelancer, por medio del presente, acepta irrevocablemente otorgar y, por medio del presente, otorga al Usuario los derechos que el Usuario solicite razonablemente con el fin de adquirir, en tanto sea posible, todos los derechos equivalentes a la propiedad legal total. A fin de garantizar que el Usuario podrá adquirir, formalizar y utilizar estos derechos de propiedad intelectual, el Freelancer: 1.- transferirá el dominio, la propiedad y la titularidad sobre medios, modelos y otros objetos tangibles que contengan el Producto de Trabajo al Usuario; 2.- Firmará cualquier documento, previa solicitud del Usuario, para asistir al Usuario con la documentación, formalización y aplicación de sus derechos; y 3.- Ofrecerá al Usuario asistencia y acceso razonable a la información para registrar, formalizar, asegurar, defender y ejercer estos derechos de propiedad intelectual. El Freelancer también autoriza irrevocablemente al Usuario a actuar y firmar en nombre del Freelancer y a tomar cualquier medida necesaria a fin de formalizar los derechos del Usuario en virtud de este Acuerdo. En el caso de que, en virtud de la legislación aplicable, el Freelancer conservara algún derecho de paternidad, integridad, divulgación y retiro de la obra, y cualquier otro derecho que pudiera conocerse o al que pudiera referirse como “derecho moral” (colectivamente, “Derechos Morales”) u otros derechos inalienables sobre el Producto de Trabajo o Información Confidencial en virtud de este Acuerdo, el Freelancer acepta irrevocablemente renunciar y, por medio del presente, renuncia a todos estos derechos o, en el caso de que el Freelancer no pudiera renunciar a tales derechos, el Freelancer acepta que no ejercerá dichos derechos, hasta que el Freelancer haya proporcionado una notificación previa por escrito al Usuario y, posteriormente, únicamente de conformidad con cualquier instrucción razonable que el Usuario emita con el fin de proteger sus derechos.
  El Freelancer deberá asegurarse de que ningún Producto de Trabajo creado o enviado por el Freelancer incluya software, tecnología u otro tipo de propiedad intelectual preexistente, ya sea que dicha propiedad intelectual preexistente sea propiedad del Freelancer o de un tercero, incluido, a título enunciativo y no taxativo, el código escrito por compañías de software de propiedad exclusiva o desarrolladores en la comunidad de código abierto (colectivamente, “PI Preexistente”), sin haber obtenido el consentimiento previo por escrito del Usuario para incluir dicha PI Preexistente en el Producto de Trabajo. El Freelancer reconoce que, sin perjuicio de cualquier otro recurso que pudiera tener, el Freelancer no tendrá derecho al pago, y deberá reembolsar todos los pagos realizados al Freelancer, por los Servicios realizados en virtud de un Contrato si el Producto de Trabajo contiene PI Preexistente que no fue aprobada de conformidad con esta Sección.
  
			  </p><br><br>
  
			  <h4>VETO DE USUARIOS</h4>
			  <p>
				  Los Freelancers pueden estar sujetos a un proceso de veto antes de poder registrarse y durante el uso que hagan del Sitio de Freelance26.com. Si bien Freelance26.com puede realizar verificaciones de antecedentes de los Freelancers, Freelance26.com no puede confirmar que cada Freelancer sea quien declara ser y, por lo tanto, Freelance26.com no puede asumir ni asume ninguna responsabilidad por la precisión o la veracidad de la identidad, la información de la verificación de antecedentes o la información proporcionada a través del Sitio de Freelance26.com
   
  AL UTILIZAR LA APLICACIÓN DE FREELANCE26.COM, USTED ACEPTA LIBERAR A FREELANCE26.COM DE TODA RESPONSABILIDAD O DAÑO QUE PUDIERA SURGIR A PARTIR DE LOS SERVICIOS PROFESIONALES. FREELANCE26.COM NO ES RESPONSABLE DE LA CONDUCTA, YA SEA EN LÍNEA O FUERA DE LÍNEA, DE NINGÚN USUARIO, INCLUIDOS LOS PROVEEDORES EXTERNOS, Y NO SERÁ RESPONSABLE DE NINGUNA RECLAMACIÓN, LESIÓN O DAÑO QUE SURJA EN RELACIÓN CON LOS SERVICIOS FREELANCE.
   
  
			  </p>
			  
			  <h4>LICENCIA</h4>
			  <p>
				   
  Sujeto a su cumplimiento de estos Términos, Freelance26.com le otorga una licencia limitada, no exclusiva, no sub-licenciable, revocable e intransferible para: 1.- acceder y utilizar el Sitio de Freelance26.com en su dispositivo personal únicamente en relación con su uso del Sitio de Freelance26.com; y 2.- acceder y utilizar cualquier contenido, información y materiales relacionados que pudieran estar disponibles a través del Sitio de Freelance26.com, en cada caso únicamente para su uso personal y no comercial. Freelance26.com y los licenciantes de Freelance26.com se reservan todos los derechos que no se otorguen expresamente en el presente.
  
			  </p><br><br>
  
			  <h4>RESTRICCIONES</h4>
			  <p>
				  Usted no podrá: 1.- eliminar avisos de derechos de autor o marcas comerciales u otro aviso de propiedad intelectual de ninguna parte del Sitio de Freelance26.com; 2.- reproducir, modificar, crear obras derivadas, distribuir, licenciar, alquilar, vender, revender, transferir, mostrar públicamente, presentar públicamente, transmitir, publicar, difundir o explotar de cualquier otra manera el Sitio de Freelance26.com, excepto según lo permitido expresamente por Freelance26.com; 3.- descompilar, realizar ingeniería inversa o desarticular el Sitio de Freelance26.com, excepto según lo permitido por la legislación aplicable; 4.- vincular, duplicar o utilizar marcos en ninguna parte del Sitio de Freelance26.com; 5.- introducir o implementar programas o secuencias de comandos con el fin de extraer información, indexar, escudriñar o de otro modo realizar minería de datos en ninguna parte del Sitio de Freelance26.com, o dificultar o impedir indebidamente la operación y/o funcionalidad de cualquier aspecto del Sitio de Freelance26.com; 6.-ni intentar obtener acceso no autorizado o afectar cualquier aspecto del Sitio de Freelance26.com o sus sistemas o redes relacionados.	
			  </p>
			  <br><br>
			  <h4>SERVICIOS Y CONTENIDOS DE TERCEROS</h4>
			  <p>
				  Es posible que pueda accederse al Sitio de Freelance26.com o que el Sitio esté disponible en relación con servicios y contenido de terceros (publicidad incluida) que Freelance26.com no controla. Usted reconoce que pueden aplicarse otros términos de uso y políticas de privacidad al uso que haga de los servicios y el contenido de terceros. Freelance26.com no respalda los servicios ni el contenido de terceros y en ningún caso será responsable de los productos o servicios de estos Freelancers.
			  </p>
			  <br><br>
			  <h4>PROPIEDAD</h4>
			  <p>
				  El Sitio de Freelance26.com y todos los derechos establecidos allí son y seguirán siendo propiedad de Freelance26.com o de los licenciantes de Freelance26.com. Ni estos Términos ni el uso que haga del Sitio de Freelance26.com le transferirán u otorgarán derechos: 1.- sobre el Sitio de Freelance26.com o relacionados con él, excepto la licencia limitada otorgada anteriormente; ni 2.- utilizar o hacer referencia de alguna manera a los nombres de la compañía, logotipos, nombres de productos y servicios, marcas comerciales o marcas de servicios de Freelance26.com o los licenciantes de Freelance26.com.
			  </p>
			  <br><br>
			  <h4>CUENTAS</h4>
			  <p>
				  Para poder utilizar la mayor parte de los aspectos del Sitio de Freelance26.com, debe registrarse y mantener una cuenta personal y activa de servicios para usuarios (“Cuenta”). Debe tener al menos 18 años de edad, o haber alcanzado la mayoría de edad legal en su jurisdicción (si esta no fuera los 18 años), para obtener una cuenta. El registro de la cuenta requiere que usted envíe determinada información personal a Freelance26.com, como su nombre, dirección, número de teléfono celular y edad, así como también al menos un método de pago válido (una tarjeta de crédito o bien un proveedor de pagos aceptado). Usted acepta mantener información exacta, completa y actualizada en su Cuenta. La falta de mantenimiento de información de Cuenta exacta, completa y actualizada, lo que incluye contar con un método de pago inválido o vencido registrado, puede dar lugar a su inhabilitación para acceder y utilizar el Sitio de Freelance26.com o a la rescisión de este Acuerdo con usted por parte de Freelance26.com. Usted es responsable de toda la actividad que tenga lugar en su Cuenta, y acepta mantener la seguridad y confidencialidad del nombre de usuario y la contraseña de su Cuenta en todo momento. A menos que Freelance26.com permita lo contrario por escrito, usted solo puede tener una Cuenta. Los perfiles de los Freelancers deben reflejar en forma precisa la experiencia, las habilidades y la información personal del Freelancer.
			  </p>
			  <br><br>
			  <h4>REQUISITOS Y CONDUCTA DE USUARIO</h4>
			  <p>
				  El Servicio no está disponible para ser utilizado por personas menores de 18 años. Usted no puede autorizar a terceros a utilizar su Cuenta, y no puede permitir que personas menores de 18 años reciban u ofrezcan Servicios Freelance a menos que estén en compañía suya. Usted no puede ceder ni transferir de alguna otra manera su Cuenta a ninguna persona o entidad. Usted acepta cumplir con todas las leyes aplicables al utilizar el Sitio de Freelance26.com (incluidas, a título enunciativo y no taxativo, todas las leyes laborales aplicables), y solo podrá utilizar el Sitio de Freelance26.com con fines lícitos. Durante el uso que haga del Sitio de Freelance26.com, no causará problemas, molestias, inconvenientes ni daños a la propiedad, ya sea con respecto a los Freelancers o a cualquier otra parte. En algunos casos, es posible que se le solicite que brinde una prueba de su identidad para acceder o utilizar el Sitio de Freelance26.com, y usted acepta que se le negará el acceso o el uso del Sitio de Freelance26.com si se rehúsa a proporcionar una prueba de su identidad.
			  </p>
			  <br><br>
			  <h4>USO ACEPTABLE</h4>
			  <p>
				  Durante la vigencia de este Acuerdo, usted podrá utilizar el Sitio de Freelance26.com para su uso personal únicamente (o para el uso de una persona, incluso una compañía u otra organización, a la que represente válidamente). Usted podrá utilizar el Sitio de Freelance26.com para contratar Servicios Freelance únicamente con respecto a la ubicación en donde se encuentra legalmente autorizado para recibir u ofrecer Servicios Freelance. Usted no podrá utilizar el Sitio de Freelance26.com para ningún otro fin o en relación con cualquier otra actividad comercial sin nuestro consentimiento expreso previo por escrito. Usted no podrá utilizar el Sitio de Freelance26.com en violación de leyes, normas, ordenanzas o reglamentaciones. Usted acepta que una solicitud de Servicios Freelance constituye una oferta, que se considera aceptada únicamente cuando recibe una confirmación de la solicitud. Usted acepta que tratará a los Freelancers de manera cortés y legal, y que cooperará razonablemente con los Freelancers para permitir que brinden los Servicios Freelance. Los Freelancers aceptan que brindarán los Servicios Freelance una vez que hayan aceptado una solicitud de manera profesional y con garantía de calidad, y que prestarán estos servicios de manera cortés y legal y haciendo el mejor uso de sus habilidades, y que aceptarán las solicitudes únicamente si el Freelancer está calificado y es capaz de realizar tales Servicios Freelance.
   
  El Sitio de Freelance26.com puede contener perfiles, sistemas de correo electrónico, blogs, carteleras de mensajes, solicitudes, anuncios de trabajos, áreas de chat, grupos de noticias, foros, comunidades y/o otros espacios para mensajes o comunicaciones, que le permiten comunicarse con otros usuarios. Usted puede utilizar estas áreas de la comunidad únicamente para enviar y recibir mensajes y materiales que sean pertinentes y apropiados en función de cada foro en particular. Usted NO deberá usar el Sitio de Freelance26.com (incluida, a título enunciativo y no taxativo, cualquier Área de la Comunidad) para hacer lo siguiente:
			  </p>
			  <br><br>
			  <ul class="politicas-item">
			  <li>•	Difamar, abusar, acosar, acechar, amenazar o violar de otra manera derechos legales (como por ejemplo, los derechos de privacidad y publicidad, entre otros) de otras personas, incluido el personal de Freelance26.com</li>
			  <li>
				  •	Publicar, anunciar, subir, distribuir o diseminar tópicos, nombres, materiales o información indecentes, difamatorios, transgresores, obscenos o ilegales, ni materiales, información o contenido que involucren la venta de artículos falsificados o robados.
			  </li>
			  <li>
				  •	Utilizar el Sitio de Freelance26.com o los Servicios Freelance para cualquier fin o de cualquier manera que viole la legislación local, estatal, nacional o internacional.
			  </li>
			  <li>
				  •	Subir archivos que contengan software u otro material que viole derechos de propiedad intelectual (o derechos de privacidad o publicidad) de terceros.
			  </li>
			  <li>
				  •	Subir archivos que contengan virus, troyanos, archivos corruptos o cualquier otro software similar que pudiera dañar la operación de una computadora ajena.
			  </li>
			  <li>
				  •	Publicar u subir contenido respecto del cual no ha obtenido los derechos o permisos necesarios para utilizarlo en consecuencia
			  </li>
			  <li>
				  •	Publicitar u ofrecer a la venta cualquier producto o servicio con fines comerciales a través del Sitio de Freelance26.com que no correspondan a los servicios ofrecidos a través del Sitio de Freelance26.com.
			  </li>
			  <li>
				  •	Publicitar u ofrecer a la venta cualquier producto o servicio con fines comerciales a través del Sitio de Freelance26.com que no correspondan a los servicios ofrecidos a través del Sitio de Freelance26.com.
			  </li>
			  <li>
				  •	Hacerse pasar por otra persona o usuario o permitir que otra persona o entidad utilice su identidad para publicar o ver comentarios o utilizar de otra manera su cuenta.
			  </li>
			  <li>
				  •	Publicar la misma nota en forma reiterada (mensajes basura o “Spam”). El envío de Spam está estrictamente prohibido.
			  </li>
			  <li>
				  •	Descargar archivos publicados por otros usuarios cuando el usuario tuviera o razonablemente debiera tener conocimiento de que no pueden distribuirse legalmente a través del Sitio de Freelance26.com.
			  </li>
			  <li>
				  •	Restringir o inhibir a otros usuarios para que no puedan utilizar y disfrutar de las Áreas de la Comunidad.
			  </li>
			  <li>
				  •	Restringir o inhibir a otros usuarios para que no puedan utilizar y disfrutar de las Áreas de la Comunidad.
			  </li>
			  <li>
				  •	Utilizar un robot, araña web, procesos manuales y/o automáticos o dispositivos para realizar minería de datos, rastreos, extraer información o indexar el Sitio de Freelance26.com de alguna manera.
			  </li>
			  <li>
				  •	Hackear o interferir en el Sitio de Freelance26.com, sus servidores o cualquier red conectada.
			  </li>
			  <li>
				  •	Adaptar, alterar, licenciar, sublicenciar o traducir el Sitio de Freelance26.com para su propio uso personal o comercial.
			  </li>
			  <li>
				  •	Eliminar o alterar, visualmente o de otro modo, derechos de autor, marcas comerciales o marcas de propiedad exclusiva y derechos de propiedad intelectual que son propiedad de Freelance26.com.
			  </li>
			  <li>
				  •	Subir contenido que sea ofensivo y/o dañino, incluido, a título enunciativo y no taxativo, contenido que defienda, respalde, apruebe o promueva el racismo, la intolerancia, el odio o el daño físico de cualquier clase contra individuos o grupos de individuos
			  </li>
			  <li>
				  •	Subir contenido que ofrezca materiales o acceso a materiales que explotan a personas menores de 18 años de manera abusiva, violenta o sexual.
			  </li>
			  <li>
				  •	Utilizar el Sitio de Freelance26.com para reclutar para otros negocios, sitios web o servicios, o contactar de otro modo a los usuarios para empleos, contrataciones u otros fines no relacionados con el uso del Sitio de Freelance26.com según lo establecido en el presente.
			  </li>
			  <li>
				  •	Utilizar el Sitio de Freelance26.com para recopilar nombres de usuarios y/o direcciones de correo electrónico de usuarios por medios electrónicos o de otro tipo.
			  </li>
			  <li>
				  •	Registrarse bajo otro nombre de usuario o identidad luego de que su cuenta haya sido cancelada o cerrada.
			  </li>
			  </ul>
			  <p>
				  Usted comprende que todas las publicaciones que realiza en las Áreas de la Comunidad serán públicas y que usted será identificado públicamente por su nombre o identificación de inicio de sesión al comunicarse en las Áreas de la Comunidad, y que Freelance26.com no será responsable de la acción de los usuarios con respecto a información o materiales publicados en las Áreas de la Comunidad.
			  </p>
			  <br><br>
  
			  <h4>CONTENIDO PROVISTO POR EL USUARIO O FREELANCER</h4>
			  <p>
				  Freelance26.com podrá, a su exclusiva discreción, permitir que usted (ya sea Usuario o Freelancer) oportunamente envíe, suba, publique o de otra manera ponga a disposición de Freelance26.com a través del Sitio de Freelance26.com información y contenido escrito, auditivo y/o visual, lo cual incluye comentarios y opiniones relacionados con el Sitio de Freelance26.com, inicio de solicitudes de asistencia y publicación de entradas para competencias y promociones (“Contenido”). Todo el contenido provisto por usted continúa siendo de su propiedad. Sin embargo, al brindar Contenido a Freelance26.com, usted otorga a Freelance26.com una licencia mundial, perpetua, irrevocable, transferible y sin regalías, con el derecho a sublicenciar, utilizar, reproducir, modificar, distribuir, mostrar públicamente y presentar públicamente dicho Contenido en cualquier formato y canal de distribución conocido actualmente o desarrollado en el futuro para los fines de prestar servicios a través del Sitio de Freelance26.com, o de otra manera en relación con el negocio de Freelance26.com; a condición de que Freelance26.com intente notificarle si utilizará su Contenido para cualquier motivo que no sea su publicación en el Sitio de Freelance26.com.
   
  Usted declara y garantiza a Freelance26.com que es el único y exclusivo propietario de todo el Contenido o bien que tiene todos los derechos, licencias, consentimientos y autorizaciones necesarios para otorgar a Freelance26.com la licencia sobre el Contenido según lo establecido anteriormente, y que su Contenido: (a) no será falso, inexacto, incompleto o engañoso; (b) no será fraudulento o involucrará la venta de artículos falsificados o robados; (c) no violará derechos de autor, patentes, marcas comerciales, secretos comerciales u otros derechos de propiedad intelectual o derechos de publicidad o privacidad de terceros; (d) no violará ninguna ley, norma, ordenanza o reglamentación (incluidas, a título enunciativo y no taxativo, aquellas que rigen el control de exportaciones, la protección del consumidor, la competencia desleal, la antidiscriminación o la publicidad engañosa); (e) no será difamatorio, calumnioso, amenazante ilícitamente u hostigador ilícitamente; (f) no será obsceno ni contendrá pornografía infantil o será perjudicial para menores; (g) no contendrá virus, troyanos, gusanos informáticos, bombas lógicas, robots de cancelación u otras rutinas de programación informática que tengan por objeto dañar, interferir perjudicialmente, interceptar de manera oculta o expropiar cualquier sistema, dato o información personal; y (h) no generará responsabilidad alguna por parte de Freelance26.com ni causará la pérdida (total o parcial) por parte de Freelance26.com de los servicios de sus proveedores de servicios de internet u otros socios o proveedores. Freelance26.com podrá revisar, controlar o eliminar Contenido a su exclusiva discreción —pero no tendrá la obligación de hacerlo—, en cualquier momento y por cualquier motivo, sin tener que brindarle notificación alguna.
  
			  </p>
			  <br><br>
  
			  <h4>DISPOSITIVOS Y ACCESO A LA RED</h4>
			  <p>
				  Usted es responsable de obtener el acceso a la red de datos necesario para utilizar el Sitio de Freelance26.com. Pueden aplicarse las tasas y los cargos de datos y mensajería de su red móvil si accede o utiliza el Sitio de Freelance26.com desde un dispositivo con capacidad inalámbrica. Usted es responsable de adquirir y actualizar los dispositivos o el hardware compatible necesario para acceder y utilizar las Aplicaciones y el Sitio de Freelance26.com y cualquier actualización realizada en ellos. Freelance26.com no garantiza que el Sitio de Freelance26.com, o cualquiera de sus partes, funcionarán en algún dispositivo o hardware en particular. Asimismo, el Sitio de Freelance26.com puede presentar un mal funcionamiento o retrasos inherentes al uso de internet y las comunicaciones electrónicas.
			  </p>
			  <br><br>
			  
			  <h4>PAGO</h4>
			  <p>
  
				  Los Usuarios comprenden que el uso del Sitio de Freelance26.com puede dar lugar a cargos por los servicios o productos que reciban de un Freelancer (“Cargos”). Luego que un Usuario haya recibido servicios o productos obtenidos a través del uso del Servicio, Freelance26.com recolectará el pago que usted haga de los Cargos correspondientes en nombre del Freelancer, en carácter de agente de cobro limitado de dicho Freelancer. El pago de los Cargos realizado de este modo deberá considerarse de la misma manera que el pago realizado directamente por el Usuario al Freelancer. Los Cargos incluirán los impuestos aplicables, según lo requiera la ley. Los Cargos pagados por el Usuario son finales y no reembolsables, a menos que Freelance26.com, a su exclusiva discreción, determine lo contrario. El Usuario y el Freelancer conservan cada uno el derecho a solicitar una modificación en los Cargos por los servicios o productos recibidos por el Usuario de parte del Freelancer, y dichos Cargos modificados por un servicio o producto en particular se convertirán en los nuevos Cargos si dicha modificación es aceptada por el Usuario y el Freelancer.
  
   
  Todos los Cargos deben abonarse inmediatamente, y el pago será recolectado por Freelance26.com través del método de pago preferido indicado en la Cuenta del Usuario, tras lo cual Freelance26.com enviará al Usuario un recibo por correo electrónico. Si se determina que el método de pago principal en la Cuenta del Usuario ha vencido, es inválido o, por algún otro motivo, no puede utilizarse para el cobro, el Usuario acepta que Freelance26.com podrá, en su carácter de agente de cobro limitado del Freelancer, utilizar un método de pago secundario en la Cuenta del Usuario, si hubiera uno disponible. El Freelancer acepta que Freelance26.com actuará como su agente de cobro en virtud de esta Sección 4. Conforme a los derechos de Freelance26.com en virtud de estos Términos (incluido el párrafo a continuación), Freelance26.com generalmente requerirá el pago de un Usuario antes de la prestación del Servicio Freelance correspondiente y remitirá el pago al Freelancer luego de que el Usuario haya confirmado que el Servicio Freelance se ha realizado; quedando entendido que, <strong>no obstante cualquier disposición en contrario contenida en estos Términos, Freelance26.com en ningún caso será responsable de la falta de pago o el retraso en los pagos por parte de los Usuarios.
	  De conformidad a estos Términos (sobre limitación de la responsabilidad, indemnidad de Freelance26.com y el derecho de Freelance26.com de optar por involucrarse o no en disputas entre Usuarios y Freelancers), en su relación con Freelance26.com, Freelance26.com se reserva el derecho a 1.- establecer, eliminar y/o revisar los Cargos por cualquier servicio o producto obtenido a través del uso del Sitio de Freelance26.com en cualquier momento y a su exclusiva discreción y 2.- determinar la manera en que se dispondrá de cualquier pago recibido por Freelance26.com de parte de un Usuario en caso de disputa entre el Usuario y el Freelancer, incluida la posibilidad de remitir dicho pago al Freelancer, devolver un pago al Usuario o retener dicho pago en depósito hasta la resolución de la disputa mediante procedimiento judicial o de otro tipo. Asimismo, usted reconoce y acepta que los Cargos aplicables en determinadas áreas geográficas pueden aumentar significativamente durante épocas de alta demanda. Freelance26.com tomará medidas razonables para informarle acerca de los Cargos que pudieran aplicarse. Freelance26.com podrá, cuando lo considere oportuno, brindar a ciertos Usuarios ofertas y descuentos promocionales que pueden dar lugar al cobro de montos diferentes por servicios o productos iguales o similares obtenidos a través del uso del Sitio de Freelance26.com, y usted acepta que estas ofertas y descuentos promocionales, a menos que también se pongan a su disposición o sean aplicables a usted, no incidirán en el uso que haga del Sitio de Freelance26.com o los Cargos que se le apliquen a usted. Los Usuarios pueden optar por cancelar solicitudes de servicios o productos de un Freelancer en cualquier momento, en cuyo caso los Usuarios pueden estar sujetos al cobro de un cargo por cancelación.
  </strong>
			  </p>
			  <br><br>
  
			  <h4>DERECHOS DE PROPIEDAD INTELECTUAL</h4>
			  <p>
				  Todo el texto, la gráfica, el contenido editorial, los datos, el formato, los gráficos, los diseños, el lenguaje HTML, el aspecto y la apariencia, las fotografías, la música, los sonidos, las imágenes, el software, los videos, los tipos de letra y otro contenido (colectivamente, <strong>“Material Exclusivo”</strong>) que vea o lea a través del Sitio de Freelance26.com es propiedad de Freelance26.com, con la exclusión del Contenido que Freelance26.com tiene el derecho a usar según lo descrito anteriormente. El Material Exclusivo está protegido en todas sus formas, medios y tecnologías conocidos actualmente o desarrollados en el futuro. Freelance26.com es propietaria de todo el Material Exclusivo, así como de la coordinación, selección, disposición y mejora de dicho Material Exclusivo. El Material Exclusivo está protegido por leyes nacionales e internacionales en materia de derechos de autor, patentes y otros derechos y leyes sobre propiedad intelectual. Usted no puede copiar, descargar, utilizar, rediseñar, reconfigurar ni retransmitir ningún elemento del Sitio de Freelance26.com sin el consentimiento expreso previo por escrito de Freelance26.com y, si corresponde, del titular de los derechos sobre el Contenido. Cualquier uso de este Material Exclusivo, excepto el que se permite en virtud del presente, está expresamente prohibido sin el permiso previo de Freelance26.com y, si corresponde, del titular de los derechos sobre el Contenido.
   
  Las marcas de servicio y las marcas comerciales de Freelance26.com, incluidas, a título enunciativo y no taxativo, “Freelance26.com” y los logotipos de Freelance26.com son marcas de servicio de propiedad de Freelance26.com. Cualquier otra marca comercial, marca de servicio, logotipo y/o nombre comercial que aparezca en el Sitio de Freelance26.com son propiedad de sus respectivos dueños. Usted no puede copiar ni utilizar ninguna de estas marcas, logotipos o nombres comerciales que aparecen en el Sitio de Freelance26.com sin el consentimiento expreso previo por escrito del propietario.
  
			  </p>
			  <br><br>
  
			  <h4>Reclamaciones de derechos de autor y agentes de derechos de autor</h4>
			  <p>
				  Freelance26.com respeta la propiedad intelectual ajena, y espera que los usuarios hagan lo mismo. Si usted considera de buena fe que alguno de los materiales proporcionados en el Sitio de Freelance26.com o en relación con él violan sus derechos de autor u otros derechos de propiedad intelectual, envíe la información que figura a continuación a: info@freelance26.com
			  </p>
			  <ul class="politicas-item">
				  <li>
					  1.	Identificación del derecho de propiedad intelectual que presuntamente se ha violado. Deben incluirse todos los números de registro pertinentes, o una declaración sobre la titularidad de la obra.
				  </li>
				  <li>
					  2.	Una declaración que identifique específicamente la ubicación del material que presuntamente viola sus derechos, con detalles suficientes para que Freelance26.com pueda encontrarlo en el Sitio de Freelance26.com. Tenga en cuenta que no es suficiente proporcionar simplemente una URL de nivel superior.
				  </li>
				  <li>
					  3.	Su nombre, dirección, número de teléfono y dirección de correo electrónico.
				  </li>
				  <li>
					  4.	Una declaración realizada por usted indicando que considera de buena fe que el uso del material que presuntamente viola sus derechos no está autorizado por el propietario de los derechos, sus agentes o la ley.
				  </li>
				  <li>
					  5.	Una declaración realizada por usted, bajo pena de perjurio, indicando que la información incluida en su notificación es exacta, y que usted es el propietario de los derechos de autor o está autorizado a actuar en nombre del propietario de los derechos de autor.
				  </li>
				  <li>
					  6.	Una firma física o electrónica del propietario de los derechos de autor o de la persona autorizada a actuar en nombre del propietario de los derechos de autor.
				  </li>
			  </ul>
			  <br><br>
  
			  <h4>INFORMACION CONFIDENCIAL</h4>
			  <p>
				  Usted reconoce que la Información Confidencial (según se define a continuación) es un activo valioso, especial y único de Freelance26.com y acepta que no divulgará, transferirá, utilizará (ni intentará inducir a otros a divulgar, transferir o utilizar) Información Confidencial para fines que no sean la divulgación a sus empleados y agentes autorizados que se encuentran obligados a mantener la confidencialidad de la Información Confidencial. Usted deberá notificar inmediatamente a Freelance26.com por escrito de cualquier circunstancia que pudiera constituir una divulgación, transferencia o uso no autorizados de la Información Confidencial. Usted deberá realizar todo lo posible para proteger la Información Confidencial de la divulgación, transferencia o uso no autorizados. Usted deberá devolver todos los originales y cualquier copia de los materiales que contengan Información Confidencial a Freelance26.com al momento de extinción de este Acuerdo por cualquier motivo que fuera. El término “Información Confidencial” se referirá a todos los secretos comerciales e información confidencial y de propiedad exclusiva de Freelance26.com y a toda otra información y datos de Freelance26.com que en general no sean de conocimiento del público o de otros terceros que pudieran obtener un valor, económico o de otro tipo, de su uso o divulgación. Se considerará que la Información Confidencial incluye datos técnicos, know-how, estudios, planos de productos, productos, servicios, clientes, mercados, software, desarrollos, invenciones, procesos, fórmulas, tecnología, diseños, dibujos, ingeniería, información de configuración de hardware, marketing, finanzas u otra información comercial divulgada directa o indirectamente por escrito, en forma oral o a través de dibujos u observaciones.
			  </p>
			  <br><br>
  
			  <h4>EXENCIÓN DE RESPONSABILIDAD</h4>
			  <p>
				  Los productos y servicios adquiridos u ofrecidos (ya sea mediante recomendaciones y sugerencias o no) a través del Sitio de Freelance26.com (incluidos, a título enunciativo y no taxativo, los Servicios Freelance) se ofrecen “EN EL ESTADO EN QUE SE ENCUENTRAN” y sin ninguna garantía de ningún tipo por parte de Freelance26.com u otras personas (a menos que, con respecto a estas otras personas únicamente, se haya brindado expresamente e inequívocamente por escrito por parte de un tercero designado para un producto específico). LOS SERVICIOS DE FREELANCE26.COM SE OFRECEN “EN EL ESTADO EN QUE SE ENCUENTRAN” Y ESTÁN “SUJETOS A DISPONIBILIDAD”. EL USO QUE HAGA EL USUARIO DE LOS SERVICIOS DE FRELANCE26.COM LO REALIZA BAJO SU PROPIO RIESGO. EN LA MÁXIMA MEDIDA PERMITIDA POR LA LEGISLACIÓN APLICABLE, LOS SERVICIOS DE FREELANCE26.COM SE OFRECEN SIN GARANTÍAS DE NINGÚN TIPO, YA SEAN EXPRESAS O IMPLÍCITAS, INCLUIDAS, A TÍTULO ENUNCIATIVO Y NO TAXATIVO, LAS GARANTÍAS IMPLÍCITAS DE APTITUD PARA LA VENTA, IDONEIDAD PARA UN FIN DETERMINADO O LEGALIDAD. SIN PERJUICIO DE LO INDICADO ANTERIORMENTE, FREELANCE26.COM NO GARANTIZAN QUE EL CONTENIDO SEA EXACTO, FIDEDIGNO O CORRECTO; QUE LOS SERVICIOS CUMPLIRÁN LOS REQUERIMIENTOS DE LOS USUARIOS; QUE LOS SERVICIOS ESTARÁN DISPONIBLES EN UN MOMENTO O UBICACIÓN EN PARTICULAR, SIN INTERRUPCIONES O DE MANERA SEGURA; QUE LOS DEFECTOS O ERRORES SERÁN CORREGIDOS; NI QUE LOS SERVICIOS ESTÁN LIBRES DE VIRUS U OTROS COMPONENTES DAÑINOS. FREELANCE26.COM NO GARANTIZA LA CALIDAD, IDONEIDAD, SEGURIDAD NI HABILIDAD DE LOS FREELANCERS. EL USUARIO ACEPTA QUE EL RIESGO TOTAL QUE SURGE DE SU USO DE LOS SERVICIOS Y DE LOS SERVICIOS O PRODUCTOS SOLICITADOS EN RELACIÓN CON ELLOS CORRE EXCLUSIVAMENTE POR CUENTA DEL USUARIO EN LA MÁXIMA MEDIDA PERMITIDA EN VIRTUD DE LA LEGISLACIÓN APLICABLE. USTED ACEPTA QUE FREELANCE26.COM NO SERÁ RESPONSABLE DE SUS ACCIONES U OMISIONES NI DE LAS ACCIONES U OMISIONES DE CUALQUIER USUARIO O FREELANCER.
			  </p>
			  <br><br>
  
			  <h4>LIMITACIÓN DE RESPONSABILIDAD</h4>
			  <p>
				  FREELANCE26.COM NO SERÁ RESPONSABLE DE DAÑOS INDIRECTOS, INCIDENTALES, ESPECIALES, EJEMPLARES, PUNITIVOS O CONSECUENTES, ENTRE LOS QUE SE INCLUYEN LA PÉRDIDA DE INGRESOS, LA PÉRDIDA DE DATOS, LESIONES PERSONALES O DAÑOS A LA PROPIEDAD, RELACIONADOS CON EL USO DE LOS SERVICIOS O COMO CONSECUENCIA DE ÉL, INCLUSO SI FREELANCE26.COM HABÍA SIDO INFORMADA SOBRE LA POSIBILIDAD DE TALES DAÑOS. FREELANCE26.COM NO SERÁ RESPONSABLE DE DAÑOS, PERJUICIOS O PÉRDIDAS QUE SURJAN DE: 1.- SU PRESTACIÓN, USO O DEPENDENCIA DE LOS SERVICIOS DE FREELANCE26.COM O SU INCAPACIDAD PARA ACCEDER O UTILIZAR LOS SERVICIOS DE FREELANCE26.COM; O 2.- CUALQUIER TRANSACCIÓN O RELACIÓN ENTRE EL USUARIO Y CUALQUIER FREELANCER, INCLUSO SI FREELANCE26.COM HABÍA SIDO INFORMADA SOBRE LA POSIBILIDAD DE TALES DAÑOS. FREELANCE26.COM NO SERÁ RESPONSABLE DEL RETRASO O EL INCUMPLIMIENTO QUE RESULTE DE CAUSAS QUE EXCEDEN EL CONTROL RAZONABLE DE FREELANCE26.COM. EL USUARIO RECONOCE QUE ES POSIBLE QUE LOS FREELANCERS QUE OFRECEN SERVICIOS FREELANCE NO CUENTEN CON LICENCIAS O AUTORIZACIONES PROFESIONALES. EN NINGÚN CASO LA RESPONSABILIDAD TOTAL DE FREELANCE26.COM FRENTE A USTED EN RELACIÓN CON LOS SERVICIOS POR TODOS LOS DAÑOS, PÉRDIDAS Y CAUSAS DE ACCIÓN EXCEDERÁ LOS CARGOS TOTALES PAGADOS O RECIBIDOS POR USTED A TRAVÉS DE FREELANCE26.COM DURANTE LOS SEIS (6) MESES ANTERIORES AL MOMENTO EN QUE SE PRESENTÓ LA RECLAMACIÓN.
   
  LOS SERVICIOS DE FREELANCE26.COM PUEDEN SER UTILIZADOS POR EL USUARIO PARA SOLICITAR Y PROGRAMAR PRODUCTOS O SERVICIOS DE LOGÍSTICA CON LOS FREELANCERS, PERO USTED ACEPTA QUE FREELANCE26.COM NO TIENE RESPONSABILIDAD ALGUNA FRENTE A USTED EN RELACIÓN CON LOS PRODUCTOS O SERVICIOS DE LOGÍSTICA OFRECIDOS AL USUARIO POR LOS FREELANCERS O CON RESPECTO AL USO DE LOS SERVICIOS FREELANCE POR PARTE DEL USUARIO (INCLUIDA LA FALTA DE PAGO) MÁS QUE LA QUE SE ESTABLECE EXPRESAMENTE EN ESTOS TÉRMINOS.
   
  LAS LIMITACIONES Y LA EXENCIÓN DE RESPONSABILIDAD QUE SE ESTABLECEN EN ESTA SECCIÓN 6 NO PRETENDEN LIMITAR LA RESPONSABILIDAD NI ALTERAR LOS DERECHOS DEL USUARIO COMO CONSUMIDOR QUE NO PUEDEN EXCLUIRSE EN VIRTUD DE LA LEGISLACIÓN APLICABLE.
  
			  </p>
			  <br><br>
  
			  <h4>INDEMNIDAD</h4>
			  <P>
				  Usted acepta liberar de responsabilidad y mantener indemne a Freelance26.com y sus ejecutivos, directores, empleados y agentes de cualquier reclamación, demanda, pérdida, responsabilidad y gasto (incluidos, a título enunciativo y no taxativo, los honorarios de abogados) que surjan o se relacionen con: (i) su uso del Sitio de Freelance26.com o los servicios o productos obtenidos o proporcionados o vendidos a través de su uso del Sitio de Freelance26.com, incluido cualquier dato o contenido transmitido o recibido por usted, o el acceso o uso del Sitio de Freelance26.com por un tercero con su nombre de usuario y contraseña; (2) su incumplimiento o violación de cualquiera de estos Términos o de leyes, normas o reglamentaciones aplicables (incluidas, a título enunciativo y no taxativo, las leyes en materia impositiva o laboral); (3) el uso de su Contenido por parte de Freelance26.com; o (4) su violación de derechos de terceros, incluidos Freelancers y Usuarios.
   
  
			  </P>
			  <br><br>
  
			  <h4>DISPUTAS ENTRE FREELANCERS Y USUARIOS</h4>
			  <p>
				  Sus interacciones con organizaciones y/o individuos encontrados en el Sitio de Freelance26.com o a través de él, incluido el pago y la entrega de productos y servicios, y cualquier otro término, condición, garantía o declaración asociados con estas comunicaciones se realizan exclusivamente entre usted y dichas organizaciones y/o individuos. Usted debe llevar a cabo las investigaciones que considere necesarias o pertinentes antes de proceder con cualquier transacción en línea o fuera de línea con cualquiera de estos terceros. Usted acepta que Freelance26.com no será responsable de pérdidas o daños de ningún tipo que surjan como consecuencia de dichas comunicaciones.
  Si hubiera alguna disputa entre Usuarios y/o Freelancers, o entre Usuarios y/o Freelancers y cualquier tercero, usted acepta que Freelance26.com, a su exclusiva discreción, podrá determinar el monto de los Cargos y a quién remitírselos de conformidad con la Sección 4, quedando entendido que Freelance26.com en ningún caso tendrá la obligación de verse involucrada en dichas disputas. En relación con disputas con otros Usuarios o Freelancers, usted, por medio del presente, acepta mantener indemne a Freelance26.com de reclamaciones, demandas y daños, reales y consecuentes, de cualquier tipo y naturaleza, conocidos y desconocidos, que se relacionen con dicha disputa o nuestras determinaciones al respecto.
  
			  </p>
			  <br><br>
  
			  <h4><strong>DISPUTAS CON FREELANCE26.COM</strong></h4>
			  
			  <br><br>
  
			  <h3>RENUNCIA AL JUICIO POR JURADO:</h3>
			  <p>
				  Usted acepta que cualquier disputa, reclamación o controversia que surja de estos Términos o en relación con ellos o con el incumplimiento, la extinción, la aplicación, la interpretación o la validez de estos Términos o el uso del Sitio Workana (colectivamente, “Disputas”) se resolverá mediante arbitraje vinculante entre usted y Workana, con la excepción de que cada parte se reserva el derecho de iniciar una acción individual en un tribunal de cuestiones menores y el derecho de solicitar medidas precautorias u otros recursos de equidad en un tribunal de jurisdicción competente para evitar la infracción real o potencial, la apropiación indebida o la violación de derechos de autor, marcas comerciales, secretos comerciales, patentes u otros derechos de propiedad intelectual de alguna de las partes. Usted reconoce y acepta que usted y Workana están renunciando al derecho de juicio por jurado o a participar como demandante o parte de cualquier demanda colectiva o acción representativa que se pretenda. Asimismo, a menos que usted y Workana acuerden lo contrario por escrito, el árbitro no podrá consolidar las reclamaciones de más de una persona y tampoco podrá resolver sobre demandas colectivas o acciones representativas de ningún tipo. Si este párrafo en particular fuera considerado inválido, entonces la totalidad de esta sección de “Resolución de Disputas” será considerada nula. Excepto según lo indicado en la oración anterior, esta sección de “Resolución de Disputas” continuará vigente después de la extinción de estos Términos.
			  </p>
			  <br>
  
			  <h3>NEGOCIACIÓN INFORMAL:</h3>
			  <p>
				  Para acelerar la resolución y reducir el costo de cualquier disputa, controversia o reclamación relacionada con este Acuerdo o que surja de alguna otra manera de la relación entre usted y Freelance26.com, usted acepta como primer intento negociar cualquier disputa de manera informal durante al menos treinta (30) días, antes de iniciar cualquier arbitraje o procedimiento judicial. Estas negociaciones informales comenzarán mediante notificación escrita. Su dirección a los efectos de estas notificaciones será la dirección indicada en su cuenta de Freelance26.com.
			  </p>
			  <br>
  
			  <h4>LEGISLACIÓN APLICABLE</h4>
			  <p>
				  Estos Términos se regirán e interpretarán de conformidad, con las leyes y tribunales de la República de  Panamá.
			  </p>
			  <br><br>
  
			  <h4>NOTIFICACIONES</h4>
			  <p>
				  Freelance26.com podrá enviar notificaciones mediante una notificación general en el Sitio de Freelance26.com, por correo electrónico a la dirección de correo electrónico que figura en su Cuenta o a través de una comunicación escrita enviada por correo certificado o con franqueo prepago a la dirección que figura en su Cuenta. Usted podrá enviar notificaciones a Freelance26.com a través del correo electrónico: info@freelance26.com
			  </p>
			  <br><br>
  
			  <h4>IDIOMA PREVALECIENTE</h4>
			  <p>
				  El idioma prevaleciente en toda comunicación será el Español.
			  </p>
			  <br><br>
  
			  <p><strong>AL UTILIZAR LA PLATAFORMA DE FREELANCE26.COM, USTED ACEPTA Y RECONOCE EXPRESAMENTE QUE HA LEÍDO, COMPRENDIDO Y TOMADO LAS MEDIDAS PARA CONSIDERAR SERIAMENTE LAS CONSECUENCIAS DE ESTE ACUERDO, QUE SE COMPROMETE A QUEDAR OBLIGADO POR LOS TÉRMINOS Y CONDICIONES DEL ACUERDO, Y QUE ES LEGALMENTE COMPETENTE PARA CELEBRAR ESTE ACUERDO CON FREELANCE26.COM.</strong></p>
  
  
		  </div>
	  </section>
  </div>
<%- include('../partials/footer') %>