<a id="app-whatsapp" target="_blanck" href="https://api.whatsapp.com/send?phone=+50766646080&amp;text=Hola!&nbsp;me&nbsp;pueden&nbsp;apoyar?">
  <!-- <i class="fab fa-whatsapp"></i> -->
  <img src="https://svgur.com/i/VCA.svg" alt="">
</a>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/604106ff1c1c2a130d64f897/1evv06llk';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
<footer class="section footer-creative context-dark">
    <div class="footer-creative-main">
      <div class="container">
        <div class="row row-50 justify-content-lg-between">
          <div class="col-lg-5 col-xl-4">
            <p class="footer-creative-title">Redes Sociales</p>
            <div class="footer-creative-divider"></div>
            <div class="row row-narrow row-15">
              <div class="col-6">
                <ul class="d-flex flex-row">
                  <li><a href="https://www.instagram.com/freelance26_oficial/?hl=es-la" class="mx-3"><i class="fab fa-instagram-square fa-2x"></i></a></li>
                  <li><a href="#"><i class="fab fa-facebook-square fa-2x mr-3 "></i></a></li>
                  <li><a href="#" class="mr-3"><i class="fab fa-twitter-square fa-2x"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>

                </ul>
              </div>

            </div>
          </div>
          <div class="col-lg-5 col-xl-4">
            <p class="footer-creative-title">Accesos Directos</p>
            <div class="footer-creative-divider"></div>
            <div class="row row-narrow row-15">
              <div class="col">
                <ul class="list-marked-1">
                  <li><a href="/blog/terminos-y-condiciones">Términos y condiciones</a></li>
                  <li><a href="/blog/politica-de-privacidad">Política de privacidad</a></li>
                  <li><a href="/blog/politicas-de-freelance26">Políticas de Freelance26</a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <p class="footer-creative-title">Contacto</p>
            <div class="footer-creative-divider"></div>
            <div class="post-line-group">
              <p class="heading-7">Teléfonos</p>
              <ul class="list-0">
                <li>
                  <dl class="list-terms-inline">

                    <dd><a href="tel:#">+507 6664 6080</a></dd>
                  </dl>
                </li>
   
              </ul>
              <br>
              <p class="heading-7">Correos</p>
              <ul class="list-0">
                <li><a href="mailto:info@freelance26.com">info@freelance26.com</a></li>
              </ul>

            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <p class="footer-creative-title"></p>
            <br><br>
            <!-- <img class="brand-logo-dark" src="/images/logo-default-286x52.png" alt="" width="200" height="60" /> -->
          </div>
        </div>
      </div>
    </div>
    <div class="footer-creative-aside">
      <div class="container">
        <p class="rights"><span>Todos los derechos reservados. Desarrollado por
            Studio73</span><span>&nbsp;&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span></p>
      </div>
    </div>
  </footer>
  </div>
  <div class="snackbars" id="form-output-global"></div>
  <script src="https://kit.fontawesome.com/b1b1a05c2b.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="/js/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="/js/script.js"></script>

  <!--Javascript Personalizado 
  <script src='/js/main.js'></script>
 <script src="/js/prueba.js"></script>
 -->
</body>

</html>