<%- include ('../partials/header'); %>
<section class="section section-md">
    <div class="container">
      <h3 class="text-center">¿Qué puedes hacer en Freelance26?</h3>
      <div class="row row-30 row-xl-70">
        <div class="col-md-6">
          <!-- Post Minimal-->
          <article class="post-minimal h-100"><a class="post-minimal-media" href="/blog">
              <img class="post-minimal-image" src="/images/contrata_un_freelance.svg" style="height: 200px;" /></a>
            <div class="post-minimal-main">
              <h5 class="post-minimal-title"><a href="/user/signup">
                  <strong>Contrata un freelance</strong>

                </a></h5>
              <p style="color: #000;">

                ¿Buscas a alguien que trabaje de forma independiente? Revisa y analiza a nuestros freelances, que estarán disponibles para trabajar en tu empresa.

              </p>
              <button class="button button-block button-primary" type="submit"><a href="/user/signup">Ver postulados</a></button>
            </div>
          </article>
        </div>
        <div class="col-md-6">
          <!-- Post Minimal-->
          <article class="post-minimal"><a class="post-minimal-media" href="/blog">
              <img class="post-minimal-image" src="/images/trabaja_como_freelance.svg" style="height: 200px;" /></a>
            <div class="post-minimal-main">
              <h5 class=""><a href="/user/signup">
                  <strong>Trabaja como freelance</strong>
                </a></h5>
              <p style="color: #000;">¿Buscas un trabajo independiente? Revisa y analiza ofertas laborales de empresas, que están buscando personal capacitado, de forma remota, para iniciar sus proyectos.</p>
              <button class="button button-block button-primary" type="submit"><a href="/user/signup">Ver trabajos</a></button>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
<%- include('../partials/footer') %>