<%- include ('../partials/header'); %>
<section class="section section-md ">
    <div class="container">
      <h3 class="text-center">¿Qué puedes hacer en Freelance26?</h3>
      <div class="row row-30 row-xl-70">
        <div class="col-md-6">
          <!-- Post Minimal-->
          <article class="post-minimal h-100"><a class="post-minimal-media" href="/blog">
              <img class="post-minimal-image" src="/images/contrata_un_freelance.svg" style="height: 200px;" /></a>
            <div class="post-minimal-main">
              <h5 class="post-minimal-title"><a href="/user/signup-enterprise">
                  <strong>Publica tu oferta laboral</strong>

                </a></h5>
              <p style="color: #000;">

                Ofrece la oportunidad de que un freelance trabaje para tu marca o empresa. Tenemos registrados excelentes talentos, que destacan en cada área de trabajo.

              </p>
              <button class="button button-block button-primary" onclick="location.href='/user/signup-enterprise'" type="submit"><a href="/user/signup-enterprise">Registra tu empresa</a></button>
            </div>
          </article>
        </div>
        <div class="col-md-6">
          <!-- Post Minimal-->
          <article class="post-minimal"><a class="post-minimal-media" href="/blog">
              <img class="post-minimal-image" src="/images/trabaja_como_freelance.svg" style="height: 200px;" /></a>
            <div class="post-minimal-main">
              <h5 class=""><a href="/user/signup">
                  <strong>Postúlate como Freelance</strong>
                </a></h5>
              <p style="color: #000;">Trabaja de forma independiente, para grandes marcas y empresas del país. Solo tienes que registrar tus datos, curriculum y portafolio.</p>
              <br>
              <button class="button button-block button-primary" onclick="location.href='/user/signup'" type="submit"><a href="/user/signup">Regístrate aquí</a></button>
             
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  
  
<%- include('../partials/footer') %>