<%- include ('../partials/header'); %>



    <% if(typeof errors != 'undefined') { %>
      <% errors.forEach(function(error) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%=  error.text %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>

        <%})%>

        <%}%>
  <div class="container conregistro">
    <div class="col-md-12 d-flex justify-content-center row align-items-center ">
      <div class="card cardregistro">
        <div class="card-body">
          
          <p class="pregistro">REGISTRO</p>
          <br>
          <form action="/user/signup" method="POST">
            <div class="form-group">
              <input class="form-input" id="rd-navbar-register-name" type="text" name="username"
                data-constraints="@Required" placeholder="Nombre y Apellido" />
            </div>
            <div class="form-group">
              <input class="form-input" id="rd-navbar-register-email" type="email" name="email"
                data-constraints="@Email @Required" placeholder="Correo" />
            </div>
            <div class="form-group">
              <input class="form-input" id="rd-navbar-register-password" type="password" name="password"
                data-constraints="@Required" placeholder="Contraseña" />
            </div>
            <div class="form-group">
              <input class="form-input" id="rd-navbar-register-password-confirm" type="password" name="password_confirm"
                data-constraints="@Required" placeholder="Confirmar Contraseña" />
            </div>
            <!-- <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Tipo de Cuenta</label>
              </div>
              <select class="custom-select" id="rd-navbar-register-tip_cuenta" name="tipo_cuenta" data-constraints="@Required" aria-placeholder="sele">Seleccionar...
                <option value="Empresa">Empresa</option>
                <option value="Freelancer">Freelancer</option>
              </select>
              
            </div> -->
            
            <div class="form-row " style="width: max-content">
              <div class="form-group col-md-6">
                <label for="inputCity" style="color:white;">Ciudad</label>
                <input type="text" class="form-control" id="inputCity">
              </div>
              <div class="form-group col-md-4 ">
                <label for="inputState" style="color:white; display: in-block; min-width: 40px;;">Pais</label>
                <select id="inputState" class="form-control">
                  <option selected>Escoja su pais</option>
                  <option value="1">USA</option>
                  <option value="2">Germany</option>
                  <option value="3">France</option>
                  <option value="4">Poland</option>
                  <option value="5">Japan</option>
                </select>
              </div>
              <!-- <div class="form-group col-md-2">
                <label for="inputZip" style="color:white;">ZIP</label>
                <input type="text" class="form-control" id="inputZip">
              </div> -->
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck" style="color:white;">
                  Terminos y condiciones
                </label>
              </div>
            </div>

            <button class="button button-xs button-primary button-icon button-icon-left rd-navbar-popup-toggle"
              data-rd-navbar-toggle="#rd-navbar-register"><span class="icon mdi mdi-account"></span>Regístrate</button>

          </form>
        </div>
      </div>
    </div>
  </div>
<%- include('../partials/footer') %>
