<%- include ('../partials/header'); %>
<!-- <div class="jumbotron-creative-inner conindexj">
    <div class="sucess-pay"> -->
      <!-- <div style="align-items: center;">
        <img src="../images/sucess1.svg" alt="">
      </div> -->
      <section class="section section-md bg-gray-100 text-center" style="min-height: 100vh;">
        <div class="container">
          <h3>Listo!</h3>
          <ul class="list-linked">
            
            
            <li class="ll-item">
              <div class="icon ll-item-icon">
                <svg class="ll-item-icon-inner" version="1.2" baseProfile="tiny" viewbox="-1 -1 102 102">
                  <circle cx="50" cy="50" r="50" fill="none" vector-effect="non-scaling-stroke"></circle>
                </svg>
                <img src="../images/apple-touch-icon.png" alt="" width="100">
              </div>
              <div class="ll-item-main">
                <h5 class=""><a href="/user/edit-perfil">Tu pago ha sido realizado, es hora de actualizar tu perfil!</a></h5>
    
              </div>
            </li>
          </ul>
          <div class="ll-item-main pt-4"><a class="button button-sm button-primary-outline" href="/user/edit-perfil">Empezar
              ahora</a></div>

               
             
                
   
        </div>
      </section>
    </div>

  <!-- </div>
</div> -->
<%- include('../partials/footer') %>